<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="max-w-container mx-auto px-4 pt-4 sm:px-6 lg:flex lg:px-8">
<form [formGroup]="customerForm" (ngSubmit)="handleSubmit()">  
    <div class="space-y-12">
      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base/7 font-semibold text-gray-900">Edit Customer</h2>
        <p class="mt-1 text-sm/6 text-gray-600">This information will be displayed publicly so be careful what you share.</p>
  
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-4">
            <label for="first_name" class="block text-sm/6 font-medium text-gray-900">First Name</label>
            <div class="mt-2">
                
                <input id="first_name" type="text" formControlName="first_name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" placeholder="John" aria-describedby="first_nameHelp first_nameError first_nameSuccess" />
            </div>
            <div *ngIf="customerForm.get('first_name')?.invalid &&(customerForm.get('first_name')?.dirty || customerForm.get('first_name')?.touched)" class="mt-2 text-sm text-red-600">
                First name is required.
            </div>
          </div>
        </div>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-4">
            <label for="last_name" class="block text-sm/6 font-medium text-gray-900">Last Name</label>
            <div class="mt-2">
                
                <input id="last_name" type="text" formControlName="last_name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" placeholder="John" aria-describedby="last_nameHelp last_nameError last_nameSuccess" />
            </div>
            <div *ngIf="customerForm.get('last_name')?.invalid &&(customerForm.get('last_name')?.dirty || customerForm.get('last_name')?.touched)" class="mt-2 text-sm text-red-600">
                Last name is required.
            </div>
          </div>
        </div>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-4">
            <label for="email" class="block text-sm/6 font-medium text-gray-900">Email</label>
            <div class="mt-2">
                
                <input id="email" type="email" formControlName="email" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" placeholder="john@example.com" aria-describedby="emailHelp emailError emailSuccess" />
            </div>
            <div *ngIf="customerForm.get('email')?.invalid &&(customerForm.get('email')?.dirty || customerForm.get('email')?.touched)" class="mt-2 text-sm text-red-600">
                Email is required.
            </div>
          </div>
        </div>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-4">
            <label for="phone" class="block text-sm/6 font-medium text-gray-900">Phone</label>
            <div class="mt-2">
                
                <input id="phone" type="text" formControlName="phone" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" placeholder="John" aria-describedby="phoneHelp phoneError phoneSuccess" />
            </div>
            <div *ngIf="customerForm.get('phone')?.invalid &&(customerForm.get('phone')?.dirty || customerForm.get('phone')?.touched)" class="mt-2 text-sm text-red-600">
                Phone is required.
            </div>
          </div>
        </div>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-4">
            <label for="address" class="block text-sm/6 font-medium text-gray-900">Address</label>
            <div class="mt-2">
                
                <input id="address" type="text" formControlName="address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" placeholder="John" aria-describedby="addressHelp addressError addressSuccess" />
            </div>
            <div *ngIf="customerForm.get('address')?.invalid &&(customerForm.get('address')?.dirty || customerForm.get('address')?.touched)" class="mt-2 text-sm text-red-600">
                Address is required.
            </div>
          </div>
        </div>

      </div>
    </div>
  
    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button type="button" (click)="handleCancel()" class="text-sm/6 font-semibold text-gray-900">Cancel</button>
      <button type="submit" [disabled]="customerForm.invalid" [ngClass]="{'bg-indigo-600 hover:bg-indigo-500 text-white': !(customerForm.invalid), 'bg-gray-300 text-gray-500 cursor-not-allowed': customerForm.invalid}" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Next</button>
    </div>
</form>
</div>
</div>