<div class="min-h-full">

    <app-navbar></app-navbar>

  <nav class="bg-gray-800">

    <!-- Paste your ENTIRE navbar here -->

  </nav>

  <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">
        Sales System
      </h1>
    </div>
  </header>

  <main>
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">

      <router-outlet></router-outlet>

    </div>
  </main>

</div>